 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 body{
    background-color: black;
 }
 main{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .clock{
    width: 600px;
    height: 600px;
    background-color: beige;
    border-radius: 600px;
    border: 15px groove white;
    position: relative;
 }
 .number{
   font-size: 1.2rem;
   font-weight: 600;
   background-color: bisque;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   padding: 5px;
   transform: rotate(00deg);

 }
 .number-1{
   transform: rotate(30deg);
 }